@-webkit-keyframes fadein {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  @-moz-keyframes fadein {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  @keyframes slideDown {
    0% {
      height: 2.5rem;
    }
  
    to {
      height: auto;
    }
  }

  @-webkit-keyframes slideDown {
    0% {
      height: 2.5rem;
    }
  
    100% {
      height: auto;
    }
  }
  
  @-moz-keyframes slideDown {
    0% {
      height: 2.5rem;
    }
  
    100% {
      height: auto;
    }
  }
  
  @keyframes slideDown {
    0% {
      height: 2.5rem;
    }
  
    100% {
      height: auto;
    }
  }
  