@import './normalice.scss';
@import './animations.scss';
@import './products-container.scss';

app-detalle-producto {
    display: flex;
    flex-direction: column;
    align-items: center;
  
    .detail {
      &__container {
        max-width: 50%;
      }
    }
  }