.negro,
.black {
  background-color: $NEGRO;
  &::before,
  &::after {
    background-color: $NEGRO;
  }
}
.azulorion {
  background-color: $AZUL_ORION;
  &::before,
  &::after {
    background-color: $AZUL_ORION;
  }
}
.blanco {
  background-color: $BLANCO;
  &::before,
  &::after {
    background-color: $BLANCO;
  }
}
.verde {
  background-color: $VERDE;
  &::before,
  &::after {
    background-color: $VERDE;
  }
}
.petroleo {
  background-color: $PETROLEO;
  &::before,
  &::after {
    background-color: $PETROLEO;
  }
}
.azularándano {
  background-color: $AZUL_ARANDANO;
  &::before,
  &::after {
    background-color: $AZUL_ARANDANO;
  }
}
.verdeturquesa,
.verdeoscuro {
  background-color: $VERDE_TURQUESA;
  &::before,
  &::after {
    background-color: $VERDE_TURQUESA;
  }
}
.crudo {
  background-color: $CRUDO;
  &::before,
  &::after {
    background-color: $CRUDO;
  }
}
.azulado {
  background-color: $AZULADO;
  &::before,
  &::after {
    background-color: $AZULADO;
  }
}
.lila {
  background-color: $LILA;
  &::before,
  &::after {
    background-color: $LILA;
  }
}
.verdezafiro {
  background-color: $VERDE_ZAFIRO;
  &::before,
  &::after {
    background-color: $VERDE_ZAFIRO;
  }
}
.fucsiaclaro {
  background-color: $FUCSIA_CLARO;
  &::before,
  &::after {
    background-color: $FUCSIA_CLARO;
  }
}
.oceanomedio {
  background-color: $OCEANO_MEDIO;
  &::before,
  &::after {
    background-color: $OCEANO_MEDIO;
  }
}
.acero {
  background-color: $ACERO;
  &::before,
  &::after {
    background-color: $ACERO;
  }
}
.kakioscuro {
  background-color: $KAKI_OSCURO;
  &::before,
  &::after {
    background-color: $KAKI_OSCURO;
  }
}
.azulclaro {
  background-color: $AZUL_CLARO;
  &::before,
  &::after {
    background-color: $AZUL_CLARO;
  }
}
.oceanooscuro {
  background-color: $OCEANO_OSCURO;
  &::before,
  &::after {
    background-color: $OCEANO_OSCURO;
  }
}
.lavado {
  background-color: $LAVADO;
  &::before,
  &::after {
    background-color: $LAVADO;
  }
}
.grismediovigoré {
  background-color: $GRIS_MEDIO_VIGORE;
  &::before,
  &::after {
    background-color: $GRIS_MEDIO_VIGORE;
  }
}
.moka {
  background-color: $MOKA;
  &::before,
  &::after {
    background-color: $MOKA;
  }
}
.berenjenadelavado,
.berenjenaclaro {
  background-color: $BERENJENA_CLARO;
  &::before,
  &::after {
    background-color: $BERENJENA_CLARO;
  }
}
.orquideadelavado {
  background-color: $ORQUIDEA_DE_LAVADO;
  &::before,
  &::after {
    background-color: $ORQUIDEA_DE_LAVADO;
  }
}
.azulon {
  background-color: $AZULON;
  &::before,
  &::after {
    background-color: $AZULON;
  }
}
.azulelectrico {
  background-color: $AZUL_ELECTRICO;
  &::before,
  &::after {
    background-color: $AZUL_ELECTRICO;
  }
}
.verdeopalo {
  background-color: $VERDE_OPALO;
  &::before,
  &::after {
    background-color: $VERDE_OPALO;
  }
}
.grisoscuro {
  background-color: $GRIS_OSCURO;
  &::before,
  &::after {
    background-color: $GRIS_OSCURO;
  }
}
.azuloscuro {
  background-color: $AZUL_OSCURO;
  &::before,
  &::after {
    background-color: $AZUL_OSCURO;
  }
}
.malva {
  background-color: $MALVA;
  &::before,
  &::after {
    background-color: $MALVA;
  }
}
.turquesagrisaceo {
  background-color: $TURQUESA_GRISACEO;
  &::before,
  &::after {
    background-color: $TURQUESA_GRISACEO;
  }
}
.verdemarino {
  background-color: $VERDE_MARINO;
  &::before,
  &::after {
    background-color: $VERDE_MARINO;
  }
}
.rosamalva {
  background-color: $ROSA_MALVA;
  &::before,
  &::after {
    background-color: $ROSA_MALVA;
  }
}
.crudohueso {
  background-color: $CRUDO_HUESO;
  &::before,
  &::after {
    background-color: $CRUDO_HUESO;
  }
}
.higo {
  background-color: $HIGO;
  &::before,
  &::after {
    background-color: $HIGO;
  }
}
.vino,
.vinooscuro {
  background-color: $VINO_OSCURO;
  &::before,
  &::after {
    background-color: $VINO_OSCURO;
  }
}
.azulnavy {
  background-color: $AZUL_NAVY;
  &::before,
  &::after {
    background-color: $AZUL_NAVY;
  }
}
.moradooscuro {
  background-color: $MORADO_OSCURO;
  &::before,
  &::after {
    background-color: $MORADO_OSCURO;
  }
}
.\3-002 {
  background-color: $a-002;
  &::before,
  &::after {
    background-color: $a-002;
  }
}
.azulmedio {
  background-color: $AZUL_MEDIO;
  &::before,
  &::after {
    background-color: $AZUL_MEDIO;
  }
}
.ocean {
  background-color: $OCEAN;
  &::before,
  &::after {
    background-color: $OCEAN;
  }
}
.arena {
  background-color: $ARENA;
  &::before,
  &::after {
    background-color: $ARENA;
  }
}
.azulnoche,
.azulacero {
  background-color: $AZUL_NOCHE;
  &::before,
  &::after {
    background-color: $AZUL_NOCHE;
  }
}
.burgundy {
  background-color: $BURGUNDY;
  &::before,
  &::after {
    background-color: $BURGUNDY;
  }
}
.marfil {
  background-color: $MARFIL;
  &::before,
  &::after {
    background-color: $MARFIL;
  }
}
