$NEGRO: #000000;
$AZUL_ORION: #2f2f4b;
$BLANCO: #ffffff;
$VERDE: #346c4f;
$PETROLEO: #465864;
$AZUL_ARANDANO: #75648e;
$VERDE_TURQUESA: #36494d;
$AZULADO: #8a83bb;
$LILA: #8492cf;
$VERDE_ZAFIRO: #009e6d;
$FUCSIA_CLARO: #e8205f;
$OCEANO_MEDIO: #6d8182;
$ACERO: #686a77;
$KAKI_OSCURO: #5c5e53;
$AZUL_CLARO: #878b97;
$OCEANO_OSCURO: #2f3f4c;
$LAVADO: #465864;
$GRIS_MEDIO_VIGORE: #a1a4ab;
$MOKA: #cfbaa9;
$BERENJENA_CLARO: #7a526a;
$ORQUIDEA_DE_LAVADO: #8e758b;
$AZULON: #b6ced0;
$AZUL_ELECTRICO: #3b3887;
$GRIS_OSCURO: #878b97;
$AZUL_OSCURO: #405452;
$MALVA: #925f66;
$TURQUESA_GRISACEO: #a9b2b9;
$VERDE_MARINO: #7af6ca;
$ROSA_MALVA: #c8a3aa;
$CRUDO_HUESO: #e5dcd5;
$CRUDO: #eeebe6;
$HIGO: #be7d81;
$VINO_OSCURO: #613c43;
$AZUL_NAVY: #303553;
$MORADO_OSCURO: #372a3c;
$a-002: #89142f;
$AZUL_MEDIO: #617c97;
$OCEAN: #3a5657;
$ARENA: #e1dacf;
$AZUL_NOCHE: #232147;
$BURGUNDY: #7e0210;
$MARFIL: #f5e7ca;
$VERDE_OPALO: #405452;
$ACEITE_OSCURO: #8d6f4b;
$MARINO: #313541;
