:root {
    --color-primary-white: #FEFEFE;
    --color-primary-white-50: rgba(254, 254, 254, .5);
    --color-primary-white-80: rgba(254, 254, 254, .8);
    --color-primary-white-90: rgba(254, 254, 254, .9);
    --color-primary-ultra-light: #F5F4F1;
    --color-primary-ultra-light-50: rgba(245, 244, 241, .5);
    --color-primary-super-light: #E5E5E5;
    --color-primary-light: #C6C6C6;
    --color-primary-medium: #ADAEB2;
    --color-primary-dark: #767779;
    --color-primary-super-dark: #3D3D3D;
    --color-primary-black: #303133;
    --color-secondary-light: #E5DAD8;
    --color-secondary-medium: #D7CBCF;
    --color-secondary-dark: #CABABF;
    --color-secondary-truefit: #AF979F;
    --color-terciary-promo: #FF5EA0;
    --color-promotion-default: #FEFEFE;
    --color-terciary-error: #D0021B;
    --color-terciary-error-15: rgba(208, 2, 27, .15);
    --color-terciary-warning: #F7B422;
    --color-terciary-warning-15: rgba(247, 180, 34, .15);
    --color-terciary-success: #56BD5B;
    --color-terciary-success-15: rgba(86, 189, 91, .15);
    --color-terciary-info: rgba(109, 59, 238, .5);
    --color-complementary-join-life-light: #E7DCD0;
    --color-complementary-join-life-medium: #E8B8A2;
    --color-complementary-join-life-dark: #DBB5A2;
    --color-complementary-join-life-super-dark: #C09C8A;
    --color-complementary-textil-light: #EAE7E2;
    --color-complementary-textil-medium: #D6D0C5;
    --color-complementary-textil-dark: #B7AFA1;
    --color-complementary-textil-super-dark: #8F8573;
    --color-complementary-care-for-planet-light: #E8E3D1;
    --color-complementary-care-for-planet-medium: #C2B99C;
    --color-complementary-care-for-planet-dark: #BDAC74;
    --color-complementary-care-for-planet-super-dark: #827750;
    --color-complementary-sport-light: #E9E4ED;
    --color-complementary-sport-medium: #CFC8D3;
    --color-complementary-sport-dark: #B8A9C4;
    --color-complementary-sport-super-dark: #6D6474;
    --color-complementary-other-sizes: #757DE9;
    --color-backgroung-line-gradient-white: linear-gradient(90deg, rgba(254, 254, 254, .0001) 3.14%, #FEFEFE 74.1%);
    --color-backgroung-line-gradient-beige: linear-gradient(90deg, rgba(245, 244, 241, .0001) 3.14%, #F5F4F1 74.1%);
    --color-outline: #005FCC;
    --color-primary-white-70: rgba(254, 254, 254, .7);
    --color-primary-light-70: rgb(121, 121, 121, .7);
    --color-background-session-expired: #EDEDED;
    --color-footer: #F9F9F9;
    --color-seoheader-h1: #333;
    --color-seoheader-description: #393939;
    --color-facebook: #3B5998;
    --font-condensed: "Oysho-font-condensed", "RobotoCondensed";
    --font-main: "Oysho-font", "Roboto";
}