<h2 class=products__header>catálogo de productos</h2>
<div class="products__container">
    <div class="products__item" *ngFor="let product of products">
    <h3 class="products__title">{{product.name}}</h3>
        <div class="products__link">
            <a [routerLink]="['/detalle-producto', product.id]" >
                <img appImgFallback = "{{urlBreackImage}}" src="{{product.urlImg}}" alt={{product.name}}                >

            </a>
        </div>
        <div class="products__spect" *ngFor="let color of product.color">  
            <p>{{color.name}}</p>
            <div *ngFor="let size of color.sizes">
                <p>{{size.name}}</p>
            </div>
        </div>
    </div>
</div>