@import './app/styles/normalice.scss';

app-detalle-producto {
    display: flex;
    flex-direction: column;
    align-items: center;
    .detail {
        &__container {
            max-width: 50%;
        }
    }
}