<div class="products__container">
    <div class="products__item" *ngFor="let colorProduct of products">
        <div class="products__link">
            <a [routerLink]="detail ? ['/catalogue']:['/detail-pruduct', colorProduct.id]">
                <img appImgFallback="{{urlBreackImage}}" src="{{colorProduct.urlImg}}" alt={{colorProduct.name}}>
                <div class="products__link__add">
                    <p class="products__link__add__text">Añadir</p>
                    <div class="products__link__add__container">
                        <div *ngFor="let color of colorProduct.color">
                            <div class="products__link__add__item">
                                <div class="products__link__add__color">
                                    <ul *ngIf="color?.sizes?.length" class="products__link__add__color__sizes">
                                        <li *ngFor="let size of color.sizes">
                                            <p>
                                                <span>{{size.name}}</span>
                                            </p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="products__spect__container">
            <div class="products__spect__name">
                <p>{{colorProduct.name}}</p>
            </div>
            <div class="products__spect__price">
                <p><strong>{{colorProduct.price |formatedPrice}}</strong></p>
            </div>
            <div class="products__spect__item">
                <div *ngFor="let color of colorProduct.color">
                    <div class="products__spect">
                        <div class="{{color.name | removeSpaces}} products__spect__color">
                            <p><span>{{color.name| titlecase}}</span></p>
                        </div>
                    </div>
                </div>
            </div>
            <p *ngIf="detail">{{colorProduct.longDescription}}</p>
        </div>
    </div>
</div>