<!-- <div *ngIf="detail ; else details" class="products__link">
    <a [routerLink]="['/detalle-producto', product.id]">
        <img appImgFallback="{{urlBreackImage}}" src="{{product.urlImg}}" alt={{product.name}}>

    </a>
</div>
<ng-template #details>
    <div class="products__link">
        <a [routerLink]="['/catalogo']">
            <p class="return">volver</p>
            <img appImgFallback="{{urlBreackImage}}" src="{{product.urlImg}}" alt={{product.name}}>
    
        </a>
    </div>
</ng-template>
<div class="products__spect" *ngFor="let color of product.color">
    <p>{{color.name}}</p>
    <div *ngFor="let size of color.sizes">
        <p>{{size.name}}</p>
    </div>
</div> -->